.btn {
  text-transform: uppercase;
  color: canvasText;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 100%);
  opacity: calc(var(--intent, 0) * 0.0875);
  transition: opacity 0.2s;
}

.btn>span:not(.sr-only) {
  position: relative;
  color: transparent;
}

.btn>span:not(.sr-only)::after {
  content: attr(data-char);
  position: absolute;
  display: inline-block;
  inset: 0;
  color: canvasText;
}

.btn:is(:hover, :focus-visible)>span:not(.sr-only)::after {
  animation: flash calc(var(--speed, 0.25) * 1s) calc(var(--index, 0) * 0.05s) steps(1, end) forwards;
}

@keyframes flash {

  0%,
  20% {
    content: '_';
  }

  40% {
    content: var(--char-1);
  }

  60% {
    content: var(--char-2);
  }

  80% {
    content: var(--char-3);
  }

  100% {
    content: var(--chinese-name);
  }
}

.btn {
  transition: transform 0.5s 1s, scale 0.5s 3s, opacity 0s 3s;
}