@tailwind base;
@tailwind components;
@tailwind utilities;


*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px dotted black
} */


@layer base {
  :root {
    --charcoal-gray: #262626;
    --shadow-gray: #737373;
  }

  :root[class~="dark"] {
    --charcoal-gray: #fafafa;
    --shadow-gray: #a3a3a3;
  }
}

/* making new tailwindcss utility via css */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .word-spacing-wide {
    word-spacing: 0.025rem
  }

  .word-spacing-wider {
    word-spacing: 1rem
  }

}


@layer components {
  .__section_y_space {
    @apply space-y-10 md:space-y-20
  }

  .__item_grid {
    @apply grid max-sm:grid-cols-[40px_1fr] grid-cols-[40px_1fr_1fr] items-center gap-x-3 md:gap-x-4 px-3 py-5 rounded-md text-sm
  }

}