@tailwind base;
@tailwind components;
@tailwind utilities;


*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px dotted black
} */


/* making new tailwindcss utility via css */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .word-spacing-wide {
    word-spacing: 0.025rem
  }

  .word-spacing-wider {
    word-spacing: 1rem
  }

}


@layer components {
  .__section_y_space {
    @apply space-y-10 md:space-y-20
  }


  .__item_grid {
    @apply grid max-sm:grid-cols-[40px_1fr] grid-cols-[40px_1fr_100px] items-center gap-2 md:gap-4 px-3 py-5 rounded-md text-sm
  }


  .__primary_text_color {
    @apply text-neutral-800 dark:text-neutral-50
  }

  .__secondary_text_color {
    @apply text-neutral-500 dark:text-neutral-400
  }
}